<div class="row">
    <div class="col-lg-6">
        <h1>System status</h1>

        <table class="table">
            <tr>
                <th>Stat</th>
                <th>Value</th>
            </tr>
            <tr>
                <td>
                    Current system load:
                </td>
                <td>
                    <%= system_load %>
                </td>
            </tr>
            <tr>
                <td>
                    Last response time:
                </td>
                <td>
                    <%= response %>ms
                </td>
            </tr>
            <tr>
                <td>
                    Current number of users:
                </td>
                <td>
                    <%= users %>
                </td>
            </tr>
            <tr>
                <td>
                    Number of instances:
                </td>
                <td>
                    <%= instances %>
                </td>
            </tr>
        </table>

        <table class="table">
            <tr>
                <th>Machine ID</th>
                <th>Number of requests</th>
            </tr>
            <% _.pairs(instance_loads).forEach(function(data) { %>
            <tr>
                <td><%= data[0]%></td>
                <td><%= data[1]%></td>
            </tr>
            <% }) %>
        </table>
    </div>
</div>